- var version = "0.1.4"
- var description = "A game where you and your friends must struggle to defend some very stupid ideas."
- var appleTouchIcons = [57, 60,72,76,114,120,144,152,180]

doctype html
html(lang="en")
  head
    include includes/head.jade
  body
    // PREGAME screen (mostly lobby setup)
    section#RoomSetup(data-contains="setup" class="setup screen")
      img.game-logo(src="svg/logo2.svg")
      
      // CREATE or JOIN game
      .starting-screen#startDiv
        .create-or-join
          .row.create-row#CreateGameRow
            input#createUsernameInput(type="text" data-holds="playerName" maxlength="50" placeholder="Your Name")
            .button-holder
              button.room-pick#IChooseToCreate create game
              button.room-action#CreateRoomButton create game
          .row.split-row
            span or
          .row.join-row#JoinWithCodeRow
            input#joinRoomCode(type="text" class="room-code" data-holds="roomCode" maxlength="4" required placeholder="Room Code")
            input#joinUsernameInputAlt(type="text" data-holds="playerName" maxlength="50" required placeholder="Your Name")
            .button-holder
              button.room-pick#IChooseToJoin join game
              button.room-action#JoinRoomButtonWithCode join game
      
      // Game is paused
      .pause-screen.hidden#pauseDiv
        p The number of active players in the room dropped below 3 and so the game was paused.
        p When the number of players in the room reaches 3 or more again, the leader can restart the game.
        figure.room-code
          figcaption Give out this code
          input(type="text" data-holds="roomCode" maxlength="4" value="FUCK")
        figure.room-url
          figcaption Or this URL
          input(type="url" data-holds="roomURL")
        .lobby-box
          ol.players#pauseRoomMembers
        .button-holder.hidden#restartOption
          button#RestartButton(onclick="socket.emit('restartgame');") Restart Game
      
      // The Lobby Screen. People are in a room, but the game hasn't started yet.
      .room-details.hidden#roomDiv
      
        // only if you're waiting for the round to end
        .hidden#waitingDiv
          p You have joined a game in progress. When the current round ends, you will be able to start playing.
        figure.room-code
          figcaption Give out this code
          input(type="text" data-holds="roomCode" maxlength="4" value="FUCK")
        figure.room-url
          figcaption Or this URL
          input(type="url" data-holds="roomURL")
        .lobby-box
          ol.players#detailsRoomMembers Retrieving player list...
        .button-holder.admin-options
          button#StartGameButton Start Game
          span#StartGameBother You need at least 3 players. Go bug your friends!
        
        // Game settings for the lobby leader
        dl.admin-options
          dt.settings-toggle
            span settings
            a.icon
              svg.icon-gear.icon-settings(viewbox="0 0 100 100")
                use(xlink:href="#Icon-Gear")
          dd
            ul.admin-options#leaderControls
              li.option
                label(for="deck")
                  span Deck:
                .select-holder
                  select#deck(onchange="updateDeckDescription();")
                summary#deckdescription
              li.option
                label(for="timeLimit") Time Limit:
                .select-holder
                  select#timeLimit
                    option(selected value="30") 30 seconds
                    option(value="60") 60 seconds
                    option(value="90") 90 seconds
              li.option
                label(for="endGame") End Game:
                .select-holder
                  select#endGame
                    option(value="3") 3 rounds
                    option(value="5") 5 rounds
                    option(value="7") 7 rounds
              li.option
                label(for="dealerSelect") Dealer Defends:
                .select-holder
                  select#dealerSelect
                    option(value="first" selected) First
                    option(value="last") Last
              li#startresult
      
      ul.toasts.setup#SetupToasts(data-toast="setup")
      p.help 
        | Confused? 
        a(href="http://www.wrongest.website/#HowToPlay") Get unconfused
        | .
        
    // GAMEPLAY screen (includes order and playing card
    section.order.screen.hidden#GameView(data-contains="gameplay")
    
      // What round is this?
      .current-round
        span.text-holder
          span.label round
          span.number.current#currentRound 1
          span.number.total#roundLimit 5
      
      // Stop Clock
      .knob-holder.hidden#GameClockHolder
        input.knob.knobtext#GameClock(data-height="120" data-width="120" type="text")
      
      // Player Order
      #orderDiv
        ol.player-order
          -for (var x = 1; x < 9; x++)
            li(id="player#{x}")
              span.player-name(id="playerName#{x}")
              span.player-score(id="playerScore#{x}")
              span.player-tease(id="playerTease#{x}")
        .button-holder.hidden#dealerControls
          button(onclick="makeDefend();") Deal a Card
      
      // Your Playing Card
      .card.hidden#defendDiv
        .flip-container
          .flipper
            .front
              .inner
                img.this-is-hard#HardCardSticker(src="svg/hard.svg")
                blockquote#statementDiv
                .button-holder#EarlyButtonHolder
                  button#DoneEarlyButton I'm done early.
            .back
              .inner
                #votestatus It is not time to vote yet.
    
    // GAME OVER screen
    section.game-over.screen.hidden#GameOverScreen(data-contains="game-over")
      figure.wrongest-reveal
        figcaption The (actual) Wrongest Words
        .quote-holder
          blockquote#WrongestQuote
          cite
            span#WrongestCite
        span.card-score.score#WrongestScore
      ol.player-final-scores
        -for (var x = 1; x < 9; x++)
          li(id="place#{x}")
            span.player-name(id="namePlace#{x}")
            span.player-score(id="scorePlace#{x}")
      p Did you like this game? Do something about it.
      // Social stuff
      .social-icons
        a.social.flattr(data-network="Flattr" href="https://flattr.com/submit/auto?url=http%3A%2F%2Fwrongest.net%2F&amp;user_id=thefplus&amp;title=The%20Wrongest%20Words" title="Tip us with Flattr")
          svg(xmlns="http://www.w3.org/2000/svg")
            path.top-left(fill="#f9ad33" d="M38.7 7.3C18.6 7.3 8.3 18.9 8.3 40.6V86L28 66.2v-23c0-9 2.4-14.7 10.3-15.9 2.8-.5 8.6-.4 12.3-.4v14.2c.2.6.7 1 1.2 1 .3 0 .7-.2 1-.5L87.1 7.3H38.7z")
            path.bottom-right(fill="#89b443" d="M73.3 33.1v23.1c0 9-2.4 14.7-10.3 15.9-2.8.5-8.6.4-12.3.4V58.8v-.5c-.2-.6-.7-1-1.2-1-.3 0-.7.2-1 .5L14.2 92h48.3C82.7 92 93 80.4 93 58.8V13.4L73.3 33.1z")
          span Tip
        a.social.github(data-network="GitHub" href="https://github.com/AnotherDole/wrongest/" title="Contribute on GitHub")
          svg(xmlns="http://www.w3.org/2000/svg")
            path(fill-rule="evenodd" clip-rule="evenodd" d="M50.7 4.5c-26 0-47.1 21.1-47.1 47.1 0 20.8 13.5 38.4 32.2 44.7 2.4.4 3.2-1 3.2-2.3 0-1.1 0-4.1-.1-8C25.8 88.8 23 79.7 23 79.7c-2.1-5.4-5.2-6.9-5.2-6.9-4.3-2.9.3-2.9.3-2.9 4.7.3 7.2 4.9 7.2 4.9 4.2 7.2 11 5.1 13.7 3.9.4-3 1.6-5.1 3-6.3-10.5-1.2-21.4-5.2-21.4-23.3 0-5.1 1.8-9.3 4.8-12.6-.5-1.2-2.1-6 .5-12.5 0 0 4-1.3 12.9 4.8 3.8-1 7.8-1.6 11.8-1.6 4 0 8 .5 11.8 1.6 9-6.1 12.9-4.8 12.9-4.8 2.6 6.5 1 11.3.5 12.5 3 3.3 4.8 7.5 4.8 12.6 0 18.1-11 22.1-21.5 23.2 1.7 1.5 3.2 4.3 3.2 8.7 0 6.3-.1 11.4-.1 12.9 0 1.3.8 2.7 3.2 2.3C84.3 90 97.7 72.4 97.7 51.6c0-26-21.1-47.1-47-47.1z")
          span Fork
        a.social.twitter(data-network="Twitter" href="https://twitter.com/intent/tweet?url=http%3A%2F%2Fwrongest.net&amp;text=I%20just%20said%20some%20very%20stupid%20things%20while%20playing%20The%20Wrongest%20Words.&amp;via=WrongestWords" title="Tweet this")
          svg(xmlns="http://www.w3.org/2000/svg")
            path.bird(d="M98.1 20.2c-3.5 1.6-7.3 2.6-11.3 3.1 4.1-2.4 7.2-6.3 8.7-10.9-3.8 2.3-8 3.9-12.5 4.8-3.6-3.8-8.7-6.2-14.4-6.2-10.9 0-19.7 8.8-19.7 19.7 0 1.5.2 3.1.5 4.5-16.4-.8-30.9-8.7-40.7-20.6C7 17.5 6 20.9 6 24.5c0 6.8 3.5 12.9 8.8 16.4-3.2-.1-6.3-1-8.9-2.5v.2c0 9.6 6.8 17.5 15.8 19.4-1.7.5-3.4.7-5.2.7-1.3 0-2.5-.1-3.7-.4 2.5 7.8 9.8 13.5 18.4 13.7-6.8 5.3-15.3 8.4-24.5 8.4-1.6 0-3.2-.1-4.7-.3 8.7 5.6 19.1 8.9 30.3 8.9 36.3 0 56.2-30.1 56.2-56.2 0-.9 0-1.7-.1-2.6 3.7-2.6 7.1-6.1 9.7-10z")
          span Tweet
        a.social.facebook(data-network="Facebook" href="http://www.facebook.com/sharer.php?u=http%3A%2F%2Fwrongest.net" title="Share on Facebook")
          svg(xmlns="http://www.w3.org/2000/svg")
            path(d="M92.1 3.3H8.5c-2.9 0-5.2 2.3-5.2 5.2v83.6c0 2.9 2.3 5.2 5.2 5.2h45V60.9H41.3V46.7h12.2V36.3c0-12.1 7.4-18.7 18.2-18.7 5.2 0 9.6.4 10.9.6v12.7h-7.5c-5.9 0-7 2.8-7 6.9v9.1h14l-1.8 14.2H68.2v36.4h23.9c2.9 0 5.2-2.3 5.2-5.2V8.5c0-2.8-2.3-5.2-5.2-5.2z")
          span Share
      .button-holder.suggest
        a.button.suggest-a-card(href="http://goo.gl/forms/wXHLNXYVRJ") Suggest A Card
      .button-holder.replay
        button#PlayAgain Play again?